body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

h1 { font-weight: bold; }

ol, ul {
    list-style-position: outside;
    /* padding-left: 3rem; */
    margin: -1.5rem 0 2rem 3rem;
}

li {
  margin-bottom: 0rem; }


/* a { color: #2D2BB9; text-decoration: none; }
a:hover { color: #0FA0CE; } */
